/*
 * Name: Skyler Millburn
 * Date: 9/26/2021
 * Assignment: 9.2
*/

body{
    margin: 0;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header{
    padding: 20px;
    text-align: center;
    background-color: skyblue;
    color:darkslategrey;
}

h1{
    font-weight: 400;
}

#navbar{ 
    overflow: hidden;
    border-bottom: solid 15px darkslategrey;
    background-color: skyblue;

}

#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover{
    background-color: darkslategrey;
    color:skyblue;
}

#container{
    margin: 2% 5% 100px 5%;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%;
}

.card :hover  {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: #9F3674;
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

footer {
    background-color: skyblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-style: italic;
    font-weight: 400;
}

footer p{
    float: right;
    color: white;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: white;
    float: right;
    padding-right: 20px;
}
footer a:hover{
    text-decoration: underline;
}

#copywright {
    float: left;
    padding-left: 10px;
}

#movies{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

#movies th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

#movies td {
    border: 1px solid #ddd;
    padding: 8px;
}
